In [2]:
pip install unesco_reader

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement unesco_reader (from versions: none)
ERROR: No matching distribution found for unesco_reader

In [3]:
import unesco_reader as uis

In [6]:
uis.indicators('SDG')

,INDICATOR_ID,INDICATOR_LABEL_EN
0,ADMI.ENDOFLOWERSEC.MAT,Administration of a nationally-representative...
1,ADMI.ENDOFLOWERSEC.READ,Administration of a nationally-representative...
2,ADMI.ENDOFPRIM.MAT,Administration of a nationally-representative...
3,ADMI.ENDOFPRIM.READ,Administration of a nationally-representative...
4,ADMI.GRADE2OR3PRIM.MAT,Administration of a nationally representative...
...,...,...
1604,YADULT.PROFINUMERACY.WPIA,Proportion of population achieving at least a ...
1605,YEARS.FC.COMP.02,Number of years of compulsory pre-primary educ...
1606,YEARS.FC.COMP.1T3,Number of years of compulsory primary and seco...
1607,YEARS.FC.FREE.02,Number of years of free pre-primary education ...
1608,YEARS.FC.FREE.1T3,Number of years of free primary and secondary ...

In [7]:
uis.get_bulk('SDG')

                  INDICATOR_ID COUNTRY_ID  YEAR  VALUE MAGNITUDE QUALIFIER
0       ADMI.ENDOFLOWERSEC.MAT        ABW  2014    0.0       NaN       NaN
1       ADMI.ENDOFLOWERSEC.MAT        ABW  2015    0.0       NaN       NaN
2       ADMI.ENDOFLOWERSEC.MAT        ABW  2016    0.0       NaN       NaN
3       ADMI.ENDOFLOWERSEC.MAT        ABW  2017    0.0       NaN       NaN
4       ADMI.ENDOFLOWERSEC.MAT        ABW  2018    0.0       NaN       NaN
...                        ...        ...   ...    ...       ...       ...
788390       YEARS.FC.FREE.1T3        ZMB  2016    7.0       NaN       NaN
788391       YEARS.FC.FREE.1T3        ZMB  2017    7.0       NaN       NaN
788392       YEARS.FC.FREE.1T3        ZMB  2018    7.0       NaN       NaN
788393       YEARS.FC.FREE.1T3        ZMB  2019    7.0       NaN       NaN
788394       YEARS.FC.FREE.1T3        ZMB  2020    7.0       NaN       NaN

[788395 rows x 6 columns]