# unesco_reader tutorial

Pythonic access to UNESCO data

`unesco_reader` is a Python package providing a simple interface to access UNESCO Institute of Statistics (UIS)
data. UIS currently does not offer API access to its data. Users must download zipped files and extract the data.
This process requires several manual steps explained in their [python tutorial](https://apiportal.uis.unesco.org/bdds-tutorial). This package simplifies the process by providing a simple
interface to access, explore, and analyze the data, using pandas DataFrames. This package also
allows users to view dataset documentation and other information such as the latest update date for, and all
available datasets from UIS.

### Basic Usage

Start by installing and importing `unesco_reader`

In [27]:
!pip install unesco-reader > /dev/null

Requirement already satisfied: unesco-reader in /Users/lucapicci/miniconda3/envs/unesco_reader_4/lib/python3.10/site-packages (0.3.1)
Requirement already satisfied: bs4<0.0.3,>=0.0.2 in /Users/lucapicci/miniconda3/envs/unesco_reader_4/lib/python3.10/site-packages (from unesco-reader) (0.0.2)
Requirement already satisfied: pandas<3.0.0,>=2.2.1 in /Users/lucapicci/miniconda3/envs/unesco_reader_4/lib/python3.10/site-packages (from unesco-reader) (2.2.1)
Requirement already satisfied: tabulate<0.10.0,>=0.9.0 in /Users/lucapicci/miniconda3/envs/unesco_reader_4/lib/python3.10/site-packages (from unesco-reader) (0.9.0)
Requirement already satisfied: beautifulsoup4 in /Users/lucapicci/miniconda3/envs/unesco_reader_4/lib/python3.10/site-packages (from bs4<0.0.3,>=0.0.2->unesco-reader) (4.12.3)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/lucapicci/miniconda3/envs/unesco_reader_4/lib/python3.10/site-packages (from pandas<3.0.0,>=2.2.1->unesco-reader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/lucapicci/miniconda3/envs/unesco_reader_4/lib/python3.10/site-packages (from pandas<3.0.0,>=2.2.1->unesco-reader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/lucapicci/miniconda3/envs/unesco_reader_4/lib/python3.10/site-packages (from pandas<3.0.0,>=2.2.1->unesco-reader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/lucapicci/miniconda3/envs/unesco_reader_4/lib/python3.10/site-packages (from pandas<3.0.0,>=2.2.1->unesco-reader) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/lucapicci/miniconda3/envs/unesco_reader_4/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=2.2.1->unesco-reader) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in /Users/lucapicci/miniconda3/envs/unesco_reader_4/lib/python3.10/site-packages (from beautifulsoup4->bs4<0.0.3,>=0.0.2->unesco-reader) (2.5)

In [22]:
import unesco_reader as uis

Retrieve information about all the available datasets from UIS.

In [2]:
uis.info()

name                                                               latest_update    theme
-----------------------------------------------------------------  ---------------  ---------
SDG Global and Thematic Indicators                                 February 2024    Education
Other Policy Relevant Indicators (OPRI)                            February 2024    Education
Research and Development (R&D) SDG 9.5                             February 2024    Science
Research and Development (R&D) – Other Policy Relevant Indicators  February 2024    Science
SDG 11.4                                                           February 2024    Culture
Demographic and Socio-economic Indicators                          February 2024    External
Education Non Core Archive                                         February 2020    Archive
Innovation Archive                                                 April 2017       Archive
Cultural trade Archive                                             June 2021        Archive
Research and Development (R&D) Archive                             March 2021       Archive
Cultural employment Archive                                        June 2019        Archive
Feature Film Archive                                               February 2024    Archive

Retrieve a list of all available datasets from UIS.

In [3]:
uis.available_datasets()

['SDG Global and Thematic Indicators',
 'Other Policy Relevant Indicators (OPRI)',
 'Research and Development (R&D) SDG 9.5',
 'Research and Development (R&D) – Other Policy Relevant Indicators',
 'SDG 11.4',
 'Demographic and Socio-economic Indicators',
 'Education Non Core Archive',
 'Innovation Archive',
 'Cultural trade Archive',
 'Research and Development (R&D) Archive',
 'Cultural employment Archive',
 'Feature Film Archive']

Optionally you can specify a theme to filter the datasets.

In [4]:
uis.available_datasets(theme='Education')

['SDG Global and Thematic Indicators',
 'Other Policy Relevant Indicators (OPRI)']

To access data for a particular dataset, use the `UIS` class passing the name of the dataset. 
A `UIS` object allows a user to easily access, explore, and analyse the data.
On instantiation, the data will be extracted from the UIS website, or if it has already been 
extracted, it will be read from the cache (more on caching below)

In [5]:
sdg = uis.UIS("SDG Global and Thematic Indicators")
sdg

INFO: Dataset loaded successfully.

UIS dataset: SDG Global and Thematic Indicators

Basic information about the dataset can be accessed using the `info` method.

In [6]:
sdg.info()

-------------  ----------------------------------
name           SDG Global and Thematic Indicators
latest update  February 2024
theme          Education
-------------  ----------------------------------

Information is also accessible through the attributes of the object.

In [7]:
name = sdg.name
update = sdg.latest_update
theme = sdg.theme

print(f"Name: {name}\nUpdate: {update}\nTheme: {theme}")

Name: SDG Global and Thematic Indicators
Update: February 2024
Theme: Education

The `readme` attribute contains the dataset documentation. To display the documentation, use the `display_readme` method.

In [8]:
sdg.display_readme()

Dataset: Sustainable Development Goal 4
Release date: 2024-02
Data extracted on: 2024-02-16 11:52:41

- [Introduction](#introduction)
- [Intended Audience](#intended-audience)
- [Contact information](#contact-information)
- [Archive Content](#archive-content)
- [Data Model](#data-model)
- [Metadata](#metadata)
- [License](#license)
- [CHANGELOG all annotated changes for previous year](#changelog-all-annotated-changes-for-previous-year)

# Introduction
This archive consists of the latest official data disseminated by the UNESCO Institute of Statistics (UIS) for a specific dataset. This dataset was compiled using the latest data as of the date appearing at the beginning of this file. The UIS periodically updates this dataset. To find out when the next update will occur please visit http://uis.unesco.org.

# Intended Audience
This archive is a result of a rigorous data production activity that ensures a high level of data quality. In order to expose the dataset to the largest audience possible and reduce its complexity the UIS has normalized and compiled it using comma-separated values (CSV) format. Please note all files utilize UTF-8 encoding. This allows both beginners and seasoned data professionals to understand and work with it.

More information about this data and tutorials can be found on the UIS Developer Portal here: https://apiportal.uis.unesco.org/

# Contact information
If you have any questions or comments about this archive please contact us at:

UNESCO Institute for Statistics
3500 De Maisonneuve Boulevard West, RS-1100
Montreal, Quebec, Canada H3Z 3C1
Tel: +1 514 343 6880
Email: uis.datarequests@unesco.org

# Archive Content
This archive contains the following files:

## DATASET_README_RELEASE_YEAR_Month.md
The README filename is composed of:  The abbreviation for the dataset as a prefix, and the year and month of the release as a suffix.

The README file also incorporates a header at the beginning of the file which identifies: the full title of the dataset contained in the archive, the month and year that the data was released by the UIS, and the date that the data was extracted to create the archive. The README file also details the contents of each file in the archive, as well as the data component layout and schema.  The README file is in MARKDOWN format (https://www.markdownguide.org/).

## DATASETNAME_LABEL.csv
This file is a list of all indicator codes and their descriptive labels:
|Field Name|Field Description|
|--|--|
|INDICATOR_ID |Indicator code|
|INDICATOR_LABEL_EN|Indicator code English label|

## DATASETNAME_DATA_NATIONAL.csv
This file contains all the national data available for this dataset and includes the following fields:
|Field Name|Field Description|
|--|--|
|INDICATOR_ID|Indicator code|
|COUNTRY_ID|ISO 3166-1 alpha-3 country code|
|YEAR |Year of the measured value|
|VALUE |Measured value|
|MAGNITUDE |Metadata describing the NATURE of the measured value (see metadata section below)|
|QUALIFIER|Metadata describing the QUALITY of the measured value (see metadata section below)|

## DATASETNAME_DATA_REGIONAL.csv
This file contains all the regional data available for this dataset and includes the following fields:
|Field Name|Field Description|
|--|--|
|INDICATOR_ID|Indicator code|
|REGION_ID|ISO 3166-1 alpha-3 country code|
|YEAR |Year of the measured value|
|VALUE |Measured value|
|MAGNITUDE |Metadata describing the NATURE of the measured value (see metadata section below)|
|QUALIFIER|Metadata describing the QUALITY of the measured value (see metadata section below)|


## DATASETNAME_METADATA.csv
This file contains all the metadata associated to the NATIONAL and REGIONAL data files above and includes the following fields:
|Field Name|Field Description|
|--|--|
|INDICATOR_ID|Indicator code|
|COUNTRY_ID|ISO 3166-1 alpha-3 country code|
|YEAR |Year of the metadata value|
|TYPE |Type of metadata|
|METADATA|Metadata value|

## DATASETNAME_COUNTRY.csv
This file lists all country codes and their descriptive labels:
|Field Name|Field Description|
|--|--|
|COUNTRY_ID|ISO 3166-1 alpha-3 country code|
|COUNTRY_NAME_EN|UNSTATS M49 STANDARD English country name (https://unstats.un.org/unsd/methodology/m49/)|

## DATASETNAME_REGION.csv
This file lists all regions and the countries that belong to each region:
|Field Name|Field Description|
|--|--|
|REGION_ID|Label is composed of the name (acronym) of the organization that is responsible for the regional composition + ': ' + name of the region
|COUNTRY_ID|ISO 3166-1 alpha-3 country code|
|COUNTRY_NAME_EN|UNSTATS M49 STANDARD English country name (https://unstats.un.org/unsd/methodology/m49/)|

# Data Model
The National (and Regional when available) data files can be linked with the:
- **label file** using the “INDICATOR_ID” variable as the matching key.
- **metadata file** (when available) using the “INDICATOR_ID”+”COUNTRY_ID”+”YEAR” variables combined as the matching key. Be aware that multiple metadata entries can match a unique data point from the data file i.e. there can be multiple metadata rows for a specific INDICATOR_ID/COUNTRY_ID/YEAR combination. Note that there can also be multiple entries within the same INDICATOR_ID/COUNTRY_ID/YEAR/TYPE combination.

# Metadata
## Indicator Metadata
Most indicators have a Glossary entry that can be accessed on the UIS website at http://uis.unesco.org/en/glossary containing the indicators’: definition, interpretation, purpose, quality standards, calculation, types of disaggregation and limitation.

## Magnitude
MAGNITUDE describes the NATURE of the data point. Possible values are:
- **NIL** – The value will be 0, and should be treated as NIL.
- **NA** – The value will be 0.  This data point is NOT APPLICABLE for the submitting nation.
- **SUPP** -  The value will be BLANK.  The data point was SUPPRESSED by request of the submitting nation.
- **LOWREL** – The value will be NUMERIC.  The data point is of LOW RELIABILITY.
- **INCLUDED** – The value will be BLANK. This data is INCLUDED in ANOTHER data point.
- **INCLUDES** – The value will be NUMERIC.  This data point INCLUDES data from another data point.

## Qualifier
QUALIFIER describes the QUALITIES of the data point. Possible values are:
- **NAT_EST** – The value will be NUMERIC.  This data point is a NATIONAL ESTIMATE.
- **UIS_EST** – The value will be NUMERIC.  This data point is an ESTIMATE produced by the UNESCO INSTITUTE FOR STATISTICS.

# License
This dataset is licensed under the Creative Commons Attribution-ShareAlike 3.0 IGO License. To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/3.0/igo/ or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.

# CHANGELOG all annotated changes for previous year

Various methods exist to access the data.
To access country data:

In [9]:
sdg.get_country_data()

,country_id,country_name,indicator_id,indicator_label,year,value
0,VAT,Holy See,ROFST.2.GPIA.CP,Out-of-school rate for adolescents of lower se...,1970,0.000000
1,THA,Thailand,EA.4T8.AG25T99.GPIA,"Educational attainment rate, completed post-se...",1970,0.459320
2,VAT,Holy See,TRTP.2T3.GPIA,Proportion of teachers with the minimum requir...,1970,0.000000
3,LBR,Liberia,GER.5T8,"Gross enrolment ratio for tertiary education, ...",1970,0.891370
4,PAN,Panama,GER.5T8.M,"Gross enrolment ratio for tertiary education, ...",1970,7.298850
...,...,...,...,...,...,...
1113029,BGD,Bangladesh,CR.2.F,"Completion rate, lower secondary education, fe...",2024,81.015709
1113030,CHE,Switzerland,CR.2.F,"Completion rate, lower secondary education, fe...",2024,99.218857
1113031,MLT,Malta,CR.2.GPIA,"Completion rate, lower secondary education, ad...",2024,1.000714
1113032,BOL,Bolivia (Plurinational State of),CR.3.F,"Completion rate, upper secondary education, fe...",2024,76.721634
1113033,ROU,Romania,CR.2.F,"Completion rate, lower secondary education, fe...",2024,93.141327

This will return a pandas DataFrame with the country data, in a structured and expected format.
By default the dataframe will not contain metadata. To include metadata in the output, set the `metadata` parameter to `True`.
Countries may also be filtered for a specific region by specifying the region's ID in the `region` parameter.
To see available regions use the `get_regions` method.

In [10]:
sdg.get_country_data(include_metadata=True, region='WB: World')

,country_id,country_name,indicator_id,indicator_label,year,value,magnitude,qualifier,Change:Data reporting,Source:Data sources,Under Coverage:Students or individuals
0,THA,Thailand,EA.4T8.AG25T99.GPIA,"Educational attainment rate, completed post-se...",1970,0.459320,NaN,NaN,NaN,Source: Census,NaN
1,LBR,Liberia,GER.5T8,"Gross enrolment ratio for tertiary education, ...",1970,0.891370,NaN,NaN,NaN,NaN,NaN
2,PAN,Panama,GER.5T8.M,"Gross enrolment ratio for tertiary education, ...",1970,7.298850,NaN,NaN,NaN,NaN,NaN
3,LBN,Lebanon,EA.S1T8.AG25T99,Educational attainment: at least some primary ...,1970,54.400002,NaN,NaN,NaN,Source: Census,NaN
4,USA,United States of America,EA.2T8.AG25T99,"Educational attainment rate, completed lower s...",1970,65.680931,NaN,NaN,NaN,Source: Census,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1095690,BGD,Bangladesh,CR.2.F,"Completion rate, lower secondary education, fe...",2024,81.015709,NaN,NaN,NaN,https://education-estimates.org/completion/dat...,NaN
1095691,CHE,Switzerland,CR.2.F,"Completion rate, lower secondary education, fe...",2024,99.218857,NaN,NaN,NaN,https://education-estimates.org/completion/dat...,NaN
1095692,MLT,Malta,CR.2.GPIA,"Completion rate, lower secondary education, ad...",2024,1.000714,NaN,NaN,NaN,https://education-estimates.org/completion/dat...,NaN
1095693,BOL,Bolivia (Plurinational State of),CR.3.F,"Completion rate, upper secondary education, fe...",2024,76.721634,NaN,NaN,NaN,https://education-estimates.org/completion/dat...,NaN
1095694,ROU,Romania,CR.2.F,"Completion rate, lower secondary education, fe...",2024,93.141327,NaN,NaN,NaN,https://education-estimates.org/completion/dat...,NaN

Metadata, available countries, available regions, and variables are also accessible through class objects.

In [11]:
sdg.get_metadata() # metadata

,country_id,country_name,indicator_id,indicator_label,year,type,metadata
0,ALB,Albania,ADMI.ENDOFLOWERSEC.MAT,Administration of a nationally-representative...,2014,Source:Data sources,Programme for International Student Assessment...
1,ALB,Albania,ADMI.ENDOFLOWERSEC.MAT,Administration of a nationally-representative...,2015,Source:Data sources,Programme for International Student Assessment...
2,ALB,Albania,ADMI.ENDOFLOWERSEC.MAT,Administration of a nationally-representative...,2016,Source:Data sources,Programme for International Student Assessment...
3,ALB,Albania,ADMI.ENDOFLOWERSEC.MAT,Administration of a nationally-representative...,2017,Source:Data sources,Programme for International Student Assessment...
4,ALB,Albania,ADMI.ENDOFLOWERSEC.MAT,Administration of a nationally-representative...,2018,Source:Data sources,Programme for International Student Assessment...
...,...,...,...,...,...,...,...
859003,SVN,Slovenia,YADULT.PROFINUMERACY.WPIA,Proportion of population achieving at least a ...,2015,Source:Data sources,Programme for the International Assessment of ...
859004,SWE,Sweden,YADULT.PROFINUMERACY.WPIA,Proportion of population achieving at least a ...,2012,Source:Data sources,Programme for the International Assessment of ...
859005,TUR,Turkey,YADULT.PROFINUMERACY.WPIA,Proportion of population achieving at least a ...,2015,Source:Data sources,Programme for the International Assessment of ...
859006,USA,United States of America,YADULT.PROFINUMERACY.WPIA,Proportion of population achieving at least a ...,2014,Source:Data sources,Programme for the International Assessment of ...
859007,USA,United States of America,YADULT.PROFINUMERACY.WPIA,Proportion of population achieving at least a ...,2017,Source:Data sources,Programme for the International Assessment of ...

In [12]:
sdg.get_countries() # available countries

    country_id                      country_name
0          AFG                       Afghanistan
1          ALB                           Albania
2          DZA                           Algeria
3          ASM                    American Samoa
4          AND                           Andorra
..         ...                               ...
236        WLF         Wallis and Futuna Islands
237        WSM                             Samoa
238        YEM                             Yemen
239        COD  Democratic Republic of the Congo
240        ZMB                            Zambia

[241 rows x 2 columns]

In [13]:
sdg.get_regions() # available regions

,region_id,country_id,country_name,grouping_entity,region_name
0,AIMS: Asia and the Pacific,AFG,Afghanistan,AIMS,Asia and the Pacific
1,AIMS: Asia and the Pacific,AUS,Australia,AIMS,Asia and the Pacific
2,AIMS: Asia and the Pacific,BGD,Bangladesh,AIMS,Asia and the Pacific
3,AIMS: Asia and the Pacific,BTN,Bhutan,AIMS,Asia and the Pacific
4,AIMS: Asia and the Pacific,SLB,Solomon Islands,AIMS,Asia and the Pacific
...,...,...,...,...,...
7297,WB: World,VIR,United States Virgin Islands,WB,World
7298,WB: World,WSM,Samoa,WB,World
7299,WB: World,YEM,Yemen,WB,World
7300,WB: World,COD,Democratic Republic of the Congo,WB,World
7301,WB: World,ZMB,Zambia,WB,World

In [14]:
sdg.get_variables() # available variables

,indicator_id,indicator_label
0,ADMI.ENDOFLOWERSEC.MAT,Administration of a nationally-representative...
1,ADMI.ENDOFLOWERSEC.READ,Administration of a nationally-representative...
2,ADMI.ENDOFPRIM.MAT,Administration of a nationally-representative...
3,ADMI.ENDOFPRIM.READ,Administration of a nationally-representative...
4,ADMI.GRADE2OR3PRIM.MAT,Administration of a nationally representative...
...,...,...
2132,YADULT.PROFINUMERACY.WPIA,Proportion of population achieving at least a ...
2133,YEARS.FC.COMP.02,Number of years of compulsory pre-primary educ...
2134,YEARS.FC.COMP.1T3,Number of years of compulsory primary and seco...
2135,YEARS.FC.FREE.02,Number of years of free pre-primary education ...
2136,YEARS.FC.FREE.1T3,Number of years of free primary and secondary ...

To refresh the data and extract the latest data from the UIS website, use the `refresh_data` method.

In [15]:
sdg.refresh()

INFO: Data refreshed successfully.

### Caching

Caching is used to prevent unnecessary requests to the UIS website and enhance performance.
To refresh data returned by functions, use the `refresh` parameter.

In [16]:
uis.info(refresh=True)

name                                                               latest_update    theme
-----------------------------------------------------------------  ---------------  ---------
SDG Global and Thematic Indicators                                 February 2024    Education
Other Policy Relevant Indicators (OPRI)                            February 2024    Education
Research and Development (R&D) SDG 9.5                             February 2024    Science
Research and Development (R&D) – Other Policy Relevant Indicators  February 2024    Science
SDG 11.4                                                           February 2024    Culture
Demographic and Socio-economic Indicators                          February 2024    External
Education Non Core Archive                                         February 2020    Archive
Innovation Archive                                                 April 2017       Archive
Cultural trade Archive                                             June 2021        Archive
Research and Development (R&D) Archive                             March 2021       Archive
Cultural employment Archive                                        June 2019        Archive
Feature Film Archive                                               February 2024    Archive

In [17]:
uis.available_datasets(refresh=True)

['SDG Global and Thematic Indicators',
 'Other Policy Relevant Indicators (OPRI)',
 'Research and Development (R&D) SDG 9.5',
 'Research and Development (R&D) – Other Policy Relevant Indicators',
 'SDG 11.4',
 'Demographic and Socio-economic Indicators',
 'Education Non Core Archive',
 'Innovation Archive',
 'Cultural trade Archive',
 'Research and Development (R&D) Archive',
 'Cultural employment Archive',
 'Feature Film Archive']

`refresh=True` will clear the cache and force extraction of the data and information from the UIS website.

For the `UIS` class, the `refresh_data` method will clear the cache and extract the latest data from the UIS website.

In [18]:
sdg.refresh()

INFO: Data refreshed successfully.

To clear all cached data, use the `clear_all_caches` method.

In [19]:
uis.clear_all_caches()

INFO: All caches cleared.